* {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: "Inconsolata", monospace;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fc00ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #00dbde,
        #fc00ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #00dbde,
        #fc00ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calculator-grid {
    max-height: 600px;
    max-width: 400px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#result {
    grid-column: span 4;
    padding: 1.2em;
    padding-right: 1em;
    min-width: 90px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #000;
    color: #fff;
}

.span-2 {
    grid-column: span 2;
}

.span-3 {
    grid-column: span 3;
}

.btn,
.operator {
    padding: 1.2em;
    min-width: 90px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid hsla(0, 0%, 0%, 0.075);
    outline: none;
}

.operator {
    color: #fff;
    background-color: #df984ce0;
}

.operator:hover,
.operator:focus {
    background-color: #e9a965;
}

.operator:active {
    background-color: #dd8d37;
}

.btn:focus,
.btn:hover {
    background-color: #eaecf0e8;
}

.btn:active {
    background-color: #bbbcbe;
}
