* {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: "Inconsolata", monospace;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #40e0d0; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #ff0080,
        #ff8c00,
        #40e0d0
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ff0080,
        #ff8c00,
        #40e0d0
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calculator {
    width: 400px;
    height: 600px;
}

button {
    background-color: #d8d9db;
    border: none;
    border-left: 1px solid black;
}

button:focus {
    outline: none;
}
button:hover {
    cursor: pointer;
    background-color: #eaecf0;
}

button:active {
    background-color: #bbbcbe;
}

.operator {
    color: #fff;
    background-color: #df984c;
}

.operator:hover {
    background-color: #e9a965;
}

.operator:active {
    background-color: #dd8d37;
}

.row {
    margin: 0;
    display: flex;
    height: 100px;
    border-bottom: 2px solid black;
}

.row:last-of-type {
    border: none;
}

.w-1 {
    width: 100px;
}
.w-2 {
    width: 200px;
}
.w-3 {
    width: 300px;
}

.no-left-border {
    border-left: none;
}

.row-1 {
    justify-content: flex-end;
    padding-right: 1.5rem;
    align-items: center;
    background-color: #000;
    color: #fff;
}
