* {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: "Inconsolata", monospace;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fc00ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #00dbde,
        #fc00ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #00dbde,
        #fc00ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calculator {
    width: 400px;
    height: 600px;
}

button {
    background-color: #d8d9db;
    border: none;
    border-left: 1px solid black;
}

button:focus {
    outline: none;
}
button:hover {
    cursor: pointer;
    background-color: #eaecf0;
}

button:active {
    background-color: #bbbcbe;
}

.operator {
    color: #fff;
    background-color: #df984c;
}

.operator:hover {
    background-color: #e9a965;
}

.operator:active {
    background-color: #dd8d37;
}

.row {
    margin: 0;
    display: flex;
    height: 100px;
    border-bottom: 2px solid black;
}

.row:last-of-type {
    border: none;
}

.w-1 {
    width: 100px;
}
.w-2 {
    width: 200px;
}
.w-3 {
    width: 300px;
}

.no-left-border {
    border-left: none;
}

.row-1 {
    justify-content: flex-end;
    padding-right: 1.5rem;
    align-items: center;
    background-color: #000;
    color: #fff;
}

/* mobile devices */
@media (max-width: 500px) {
    * {
        font-size: 1.3rem;
    }
    .row {
        height: 80px;
    }
    .calculator {
        width: 80vw;
        height: 480px;
    }
    .w-1 {
        width: 20vw;
    }
    .w-2 {
        width: 40vw;
    }
    .w-3 {
        width: 60vw;
    }
}
